<div class="flex flex-col items-center justify-start min-h-screen">
  <h1 class="text-4xl font-bold my-6 fixed top-0 w-full text-center py-4 text-white font-bold">ユーザー登録</h1>
  <div class="flex flex-col items-center justify-center w-full max-w-6xl mx-auto" style="margin-top: 80px;">
    <div class="text-center mt-6 w-full">
      <%= form_with(model: resource, scope: resource_name, url: registration_path(resource_name), local: true) do |f| %>

        <% if resource.errors.any? %>
          <div class="alert alert-danger mb-6">
            <h2 class="text-red-500 text-xl">以下のエラーがあります:</h2>
            <ul>
              <% resource.errors.full_messages.each do |message| %>
                <li class="text-red-500"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-6">
          <%= f.label :email, "メールアドレス", class: "text-xl block font-bold mb-2 text-white" %>
          <%= f.email_field :email, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline", placeholder: "メールアドレス" %>
        </div>

        <div class="mb-6">
          <%= f.label :name, "名前", class: "text-xl block font-bold mb-2 text-white" %>
          <%= f.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline", placeholder: "名前", autocomplete: "username" %>
        </div>

        <div class="mb-6">
          <%= f.label :password, "パスワード", class: "text-xl block font-bold mb-2 text-white" %>
          <%= f.password_field :password, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline", placeholder: "パスワード", autocomplete: "new-password" %>
        </div>

        <div class="mb-6">
          <%= f.label :password_confirmation, "パスワード確認", class: "text-xl block font-bold mb-2 text-white" %>
          <%= f.password_field :password_confirmation, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline", placeholder: "パスワード確認", autocomplete: "new-password" %>
        </div>

        <div class="flex justify-center space-x-4">
          <%= f.submit "ユーザー登録", class: "btn btn-primary" %>
        </div>
      <% end %>

      <% if notice.present? %>
        <p class="notice text-green-500 mt-4"><%= notice %></p>
      <% elsif alert.present? %>
        <p class="alert text-red-500 mt-4"><%= alert %></p>
      <% end %>
    </div>

    <div class="mt-6 text-center w-full">
      既にアカウントを持っている？
      <%= link_to "ログイン", new_user_session_path, class: "text-blue-500 hover:text-blue-800" %>
    </div>
  </div>
</div>