<%= form_with(model: task, local: true, data: { turbo: false }, html: { class: "needs-validation", novalidate: true }) do |form| %>
  <% if task.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">エラーが <%= pluralize(task.errors.count, "件") %> あります:</h4>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="mb-3">
    <%= form.label :name, "タイトル", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "内容", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :deadline, "期限", class: "form-label" %>
    <%= form.datetime_select :deadline, {}, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :category_name, "カテゴリー", class: "form-label" %>
    <%= form.text_field :category_name, value: @task.category&.name, class: "form-control" %>
  </div>

  <div class="mb-3">
  <%= form.label :status, "完了状況", class: "form-label" %>
  <%= form.select :status, Task.statuses.keys.map { |status| [translate_status(status), status] }, {}, class: "form-control" %>
</div>

  <div class="actions">
    <%= form.submit task.new_record? ? "新規登録" : "更新する", class: "btn btn-primary" %>
  </div>
<% end %>