<div>
  <div>
    <%= form_with(model: @task, local: true, data: { turbo: false }, html: { class: "needs-validation", novalidate: true }) do |form| %>
      <% if @task.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">エラーが <%= pluralize(@task.errors.count, "件") %> あります:</h4>
          <ul>
            <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="mb-3">
        <%= form.label :name, "タイトル", class: "text-xl block font-bold mb-2 text-white" %>
        <%= form.text_field :name, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, "内容", class: "text-xl block font-bold mb-2 text-white" %>
        <%= form.text_area :description, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-3">
        <%= form.label :deadline, "期限", class: "text-xl block font-bold mb-2 text-white" %>
        <%= form.datetime_select :deadline, {}, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-3">
        <%= form.label :category_name, "カテゴリー", class: "text-xl block font-bold mb-2 text-white" %>
        <%= form.text_field :category_name, value: @task.category&.name, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-3">
        <%= form.label :status, "完了状況", class: "text-xl block font-bold mb-2 text-white" %>
        <%= form.select :status, Task.statuses.keys.map { |status| [translate_status(status), status] }, {}, class: "shadow appearance-none border rounded py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="actions flex justify-center space-x-4">
        <%= form.submit @task.new_record? ? "新規登録" : "更新する", class: "btn btn-primary" %>
        <% if @task.new_record? %>
          <%= link_to '戻る', tasks_path, class: "btn btn-secondary" %>
        <% else %>
          <%= link_to '戻る', task_path(@task), class: "btn btn-secondary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>