<% content_for :title, "タスク一覧" %>
<div class="flex flex-col items-center justify-start min-h-screen text-white">
  <h1 class="text-4xl font-bold my-6 w-full text-center py-4 text-white">TO DOリスト</h1>
  <div class="text-center w-full"  style="margin-top: 80px;">
  <%= link_to '新規作成', new_task_path, class: 'btn btn-success' %>
  <h1 class="mb-4"><%= params[:status] == 'completed' ? '完了したタスク' : '未完了のタスク' %>一覧</h1>

  <table class="table">
    <thead>
      <tr class="text-white">
        <th>タイトル</th>
        <th>期限</th>
        <th>完了状況</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.name %></td>
          <td><%= task.deadline %></td>
          <td><%= translate_status(task.status) %></td>
          <td><%= link_to '詳細', task, class: 'btn btn-primary' %></td>
          <td><%= link_to '編集', edit_task_path(task), class: 'btn btn-warning' %></td>
          <td><%= link_to '削除', task, method: :delete, data: { confirm: '本当に削除しますか？', turbo: false }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '未完了のタスク', tasks_path(status: 'active'), class: 'btn btn-success' %>
  <%= link_to '完了したタスク', tasks_path(status: 'completed'), class: 'btn btn-success' %>
  </div>
</div>