<% content_for :title, "タスク詳細" %>
<div class="flex flex-col items-center justify-start min-h-screen text-white p-4">
  <h1 class="text-4xl font-bold my-6 fixed top-0 w-full text-center py-4 text-white">タスク詳細</h1>
  <div class="text-center w-full mt-32" style="margin-top: 80px;">
    <h3 class="text-xl mb-2 block font-bold">タイトル</h3>
    <p class="mb-4"><%= @task.name %></p>

    <h3 class="text-xl mb-2 block font-bold">内容</h3>
    <p class="mb-4"><%= @task.description %></p>

    <h3 class="text-xl mb-2 block font-bold">期限</h3>
    <p class="mb-4"><%= @task.deadline %></p>

    <h3 class="text-xl mb-2 block font-bold">カテゴリー</h3>
    <p class="mb-4"><%= @task.category&.name || "No category" %></p>

    <h3 class="text-xl mb-2 block font-bold">完了状況</h3>
    <p class="mb-4"><%= translate_status(@task.status) %></p>

    <div class="flex justify-center space-x-4">
      <%= link_to '編集', edit_task_path(@task), class: 'btn btn-warning' %>
      <%= link_to '戻る', tasks_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>