<div class="flex flex-col items-center justify-start min-h-screen text-white p-4">
  <h1 class="text-4xl font-bold my-6 fixed top-0 w-full text-center text-white">プロフィール画面</h1>
  <div class="text-center w-full mt-32" style="margin-top: 80px;">
    <h3 class="text-xl mb-2 block font-bold">ユーザー名</h3>
    <p class="mb-4"><%= @user.name if @user %></p>

    <h3 class="text-xl mb-2 block font-bold">メールアドレス</h3>
    <p class="mb-4"><%= @user.email if @user %></p>

    <h3 class="text-xl mb-2 block font-bold">自己紹介</h3>
    <p class="mb-4">
      <% if @user&.profile %>
        <%= @user.profile.introduction %>
      <% else %>
        自己紹介が登録されていません。
      <% end %>
    </p>

    <% if user_signed_in? %>
      <%= link_to 'プロフィールを編集', edit_user_path(@user), class: "btn btn-primary mx-2" %>
    <% end %>
    <%= link_to '戻る', mypage_path, class: "btn btn-secondary mx-2" %>
  </div>
</div>
